<h3>(3) Binding</h3>
<p>Time: {{message}}</p>

<h3>(4) ngFor</h3>
<p *ngFor="let item of items; let i = index; let first=first; let last=last; let even=even; let odd=odd"
    [ngClass]="{first:first, last:last, even:even, odd:odd}">
    {{i+1}}) {{item}}
</p>

<h3>(5) ngIf</h3>
<p *ngIf="loggedIn">Condition: loggedIn = <i>True</i></p>

<ng-template *ngIf="loggedIn; then thenBlock; else elseBlock">
</ng-template>
<ng-template #thenBlock>
    Logged in
</ng-template>
<ng-template #elseBlock>
    Please login
</ng-template>

<h3>(6) Click Event</h3>
<div style="margin-top:20px">
    <button *ngIf="isCollapsed" (click)="toggleCollapse()">Show</button>
    <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Hide</button>
    <div *ngIf="!isCollapsed">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est temporibus iste facilis incidunt, rerum
            similique reprehenderit hic neque perspiciatis facere architecto vero vitae cumque maxime dolorem odio alias
            quos delectus dicta molestiae inventore? Quod repellat architecto ipsam voluptatum molestias sit, magni ipsa
            velit non, eveniet obcaecati dolorem sint exercitationem.</p>
    </div>
</div>

<h3>(11) Http Request</h3>
<div>
    User name: <input type="text" [(ngModel)]="userName">
    <button (click)="search()">Search</button>
    <div *ngIf="response">
        <img src="{{response.avatar_url}}" alt="">
        <p>Name: {{response.login}}</p>
        <p>Repos: {{response.public_repos}}</p>
        <p>Bio: {{response.bio}}</p>
    </div>
</div>